---
layout: examples.hbs

short_title: Sticky Footer
title: Sticky Footer
summary: Example of sticky footer
short_summary: Example of sticky footer

css_file: examples/sticky-footer
---

<div class="sticky-footer">
    <div class="sticky-footer__content">
        Content
    </div>
    <div class="sticky-footer__footer">
        Footer
    </div>
</div>