---
layout: index.hbs

short_title: Short title
title: Long title
summary: Summary
short_summary: Short summary

---

<div>
    <img
        data-preload-src="https://placehold.it/100x100"
        src=""
        alt=""
        id="image"
    />
</div>
<button id="btn">Load image</button>

<div>
    <img
        data-preload-src="https://placehold.it/70x30"
        src=""
        alt=""
        class="image"
    />
    <img
        data-preload-src="https://placehold.it/50x30"
        src=""
        alt=""
        class="image"
    />
</div>
<button id="btn2">Load images</button>
