---
layout: examples.hbs

short_title: Aspect ratio
title: Aspect ratio
summary: Aspect ratio
short_summary: Aspect ratio

css_file: examples/aspect-ratio
---

<h1>Aspect ratio</h1>

Keeps aspect ratio of container's contents width and height in responsive designs (image, video, another container).

<h2>16 by 9</h2>

<div style="max-width: 640px">
    <div class="aspect-ratio  aspect-ratio_16-9">
        <img class="aspect-ratio__content" src="https://placehold.it/640x360" alt="" />
    </div>
</div>

<h2>Square</h2>

<div style="max-width: 600px">
    <div class="aspect-ratio  aspect-ratio_square">
        <img class="aspect-ratio__content" src="https://placehold.it/600x600" alt="" />
    </div>
</div>

<h2>Circle</h2>

<div style="max-width: 600px">
    <div class="aspect-ratio  aspect-ratio_circle">
        <img class="aspect-ratio__content" src="https://placehold.it/600x600" alt="" />
    </div>
</div>