---
layout: examples.hbs

short_title: Copyright
title: Copyright
summary: Copyright
short_summary: Copyright

image_url: image url
image_alt: image_alt

---

<h1>Copyright Formats</h1>

<h2>Copyright © [startYear] - [currentYear]</h2>
<p>If startYear and currentYear are the same, format [currentYear] will be applied.</p>
<div>{{> example-copyright-range }}</div>

<h2>Copyright © [currentYear]</h2>
<p>Default format.</p>
<div>{{> example-copyright }}</div>