@import "../_normalize";
@import "../_base";

@import "../_container";
@import "../_copyright";
@import "../_side";

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #efefef;
}