@import "../components/_aspect-ratio";

.lazy-load {
    background: #efefef;
    max-width: 300px;
    margin-bottom: 20px;
}

.lazy-load__image {
    opacity: 0;
    transition: opacity .5s ease-out;

    &.is-loaded {
        opacity: 1;
    }
}