/* See example at http://codepen.io/oksana-khristenko/pen/egmpBw */

.aspect-ratio {
    position: relative;
    overflow: hidden;
}

.aspect-ratio__content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.aspect-ratio_16-9 {
    padding-top: calc(9/16*100%);
}

.aspect-ratio_5-4 {
    padding-top: calc(4/5*100%);
}

.aspect-ratio_4-3 {
    padding-top: calc(3/4*100%);
}

.aspect-ratio_1-1 {
    padding-top: 100%;
}

.aspect-ratio_circle {
    padding-top: 100%;
    border-radius: 100%;
}