<footer class="footer">
    <div class="container  side">
        <div class="footer__list-social">{{> list-social }}</div>
        <span class="copyright">Copyright &copy; {{helper_copyright 'range'}}</span>
    </div>
</footer>