<ul class="list-social">
    <li class="list-social__item">
        <a href="#" class="list-social__link">
            <span class="icon-social  icon-social_twitter">
                <svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <rect height="100%" width="100%" x="0" y="0" />
                </svg>
            </span>
            <a href="#" class="list-social__link">
                <span class="icon-social  icon-social_facebook">
                    <svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <rect height="100%" width="100%" x="0" y="0" />
                    </svg>
                </span>
            </a>
            <a href="#" class="list-social__link">
                <span class="icon-social  icon-social_pintrest">
                    <svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <rect height="100%" width="100%" x="0" y="0" />
                    </svg>
                </span>
            </a>
            <a href="#" class="list-social__link">
                <span class="icon-social  icon-social_linkedin">
                    <svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <rect height="100%" width="100%" x="0" y="0" />
                    </svg>
                </span>
            </a>
            <a href="#" class="list-social__link">
                <span class="icon-social  icon-social_instagram">
                    <svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <rect height="100%" width="100%" x="0" y="0" />
                    </svg>
                </span>
            </a>
            <a href="#" class="list-social__link">
                <span class="icon-social  icon-social_googleplus">
                    <svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <rect height="100%" width="100%" x="0" y="0" />
                    </svg>
                </span>
            </a>
        </a>
    </li>
</ul>