<ul class="list-social">
    {{#items}}<li class="list-social__item">
        <a href="{{url}}" title="{{title}}" class="list-social__link">
            <span class="icon-social  icon-social_{{account}}">
                {{> ( lookup . 'icon') }}
            </span>
        </a>
    </li>{{/items}}
</ul>