<div class="lightbox" data-lightbox-example>
    <div class="lightbox__inner">
        <button class="clickable  lightbox__close" data-lightbox-close>
            {{> icon-close }}
        </button>

        <div class="lightbox__content" data-lightbox-content></div>
    </div>
</div>