{{#helper_social_accounts 'instagram,twitter,facebook,linkedin,googleplus,pintrest'}}
    <ul>
        {{#items}}
        <li><a href="{{url}}" title="{{title}}" class="list-social__link">{{account}}</a></li>
        {{/items}}
    </ul>
{{/helper_social_accounts}}