<ul class="list-social">
    {{#items}}<li class="list-social__item">
        <a href="{{url}}" title="{{title}}" class="list-social__link">
            <span class="icon-social  icon-social_{{account}}">
                <svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <rect height="100%" width="100%" x="0" y="0" />
                </svg>
            </span>
        </a>
    </li>{{/items}}
</ul>