---
layout: index.hbs

short_title: Short title
title: Long title
summary: Summary
short_summary: Short summary

isHomePage: true

js_file: home
css_file: home

---

<h1>Assemble starter</h1>

<a href="/examples/">Examples</a>