---
layout: examples.hbs

short_title: Overlay
title: Overlay
summary: Overlay
short_summary: Overlay

css_file: examples/overlay

---

<div class="overlay">
    <div class="overlay__inner">
        <div class="overlay__content"><span class="overlay__spinner"></span></div>
    </div>
</div>