---
layout: examples.hbs

short_title: Follow buttons
title: Follow buttons
summary: Follow buttons
short_summary: Follow buttons

css_file: examples/follow
---

<h1>Follow</h1>

<h2>All accounts</h2>
{{> example-follow-all }}

<h2>Change order<h2>
{{> example-follow-all-change-order }}

<h2>Some accounts</h2>
{{> example-follow-some }}

<h2>Change design</h2>
{{> example-change-design }}