---
layout: examples.hbs

short_title: Lazy load
title: Lazy load
summary: Lazy load
short_summary: Lazy load

js_file: examples/lazy-load

---

<h1>Images lazy load</h1>

<h2>Lazy load individual image on click</h2>

<div>
    <img
        data-preload-src="/assets/img/examples/300x300-06.png"
        src=""
        alt=""
        id="image"
    />
</div>
<button id="btn">Load image</button>

<h2>Lazy load multiple images on click</h2>

<div>
    <img
        data-preload-src="/assets/img/examples/300x300-07.png"
        src=""
        alt=""
        class="image"
    />
    <img
        data-preload-src="/assets/img/examples/300x300-08.png"
        src=""
        alt=""
        class="image"
    />
</div>
<button id="btn2">Load images</button>

<h2>Lazy load individual images on waypoints</h2>

<div>
    <img
        data-preload-src="/assets/img/examples/300x300-01.png"
        src=""
        alt=""
        class="waypoint-image"
        style="margin-bottom: 20px; width: 300px; height: 300px; display: block;"
    />
    <img
        data-preload-src="/assets/img/examples/300x300-02.png"
        src=""
        alt=""
        class="waypoint-image"
        style="margin-bottom: 20px; width: 300px; height: 300px; display: block;"
    />
    <img
        data-preload-src="/assets/img/examples/300x300-03.png"
        src=""
        alt=""
        class="waypoint-image"
        style="margin-bottom: 20px; width: 300px; height: 300px; display: block;"
    />
    <img
        data-preload-src="/assets/img/examples/300x300-04.png"
        src=""
        alt=""
        class="waypoint-image"
        style="margin-bottom: 20px; width: 300px; height: 300px; display: block;"
    />
    <img
        data-preload-src="/assets/img/examples/300x300-05.png"
        src=""
        alt=""
        class="waypoint-image"
        style="margin-bottom: 20px; width: 300px; height: 300px; display: block;"
    />
</div>
