---
layout: default.hbs
---

<div class="page-sticky-footer">
    <div class="page-sticky-footer__content">
        {{> body }}
    </div>
    <div class="page-sticky-footer__footer">
        {{> footer }}
    </div>
</div>