---
layout: examples.hbs

short_title: Grid
title: Grid
summary: Grid
short_summary: Grid

css_file: examples/grid
---

<h1>Grid</h1>

<div class="grid  grid_gutter-regular  media-600--grid  media-600--grid_gutter-regular">
    <div class="grid__item  media-600--grid__item_1-2">
        <div style="background: #eee; padding: 10px; margin-bottom: 10px;">Item 1</div>
    </div>
    <div class="grid__item  media-600--grid__item_1-2">
        <div style="background: #eee; padding: 10px; margin-bottom: 20px;">Item 2</div>
    </div>
</div>