@import "./_container";
@import "./_copyright";
@import "./_side";
@import "./_list-social";

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #efefef;
}

.footer__list-social {
    text-align: center;
}