@import "./_icon-social.css";

.list-social {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &__item {
        padding: 0;
        display: inline-block;
        font-size: 0;
        margin-left: 5px;
    }

    &__link {
        &:first-child {
            margin-left: 0;
        }
    }
}