html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.page-sticky-footer {
    display: table;
    height: 100%;
    width: 100%;
}

.page-sticky-footer__footer {
    display: table-row;
    height: 1px;
}

.page-sticky-footer__content {
    height: 100%;
}